<!DOCTYPE html>
<html ng-app="tabletWaiter">
<head>
    <title>TabletWaiter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/css/zerogrid.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link rel="stylesheet" href="~/Content/css/responsiveslides.css" />
    <link href="~/Content/css/sweet-alert.css" rel="stylesheet" />
    <link href="~/Content/tableWaiterStyles.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <a href="#menu"><img class="logo" src="~/Content/images/logo.png" /></a>
        </div>
    </header>
    <section id="main">
        @RenderBody()
    </section>

    <!--Scripts && Angular-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/sweet-alert.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/checklist-model.js"></script>
    <script src="~/AngularApp/app.js"></script>

    <!--Services-->
    <script src="~/AngularApp/Services/dataService.js"></script>
    <script src="~/AngularApp/Services/cartService.js"></script>
    <!--Directives-->

    <!--Controllers-->
    <script src="~/AngularApp/Controllers/indexController.js"></script>
    <script src="~/AngularApp/Controllers/addItemController.js"></script>
    <script src="~/AngularApp/Controllers/itemListController.js"></script>
    <script src="~/AngularApp/Controllers/editItemController.js"></script>
    <script src="~/AngularApp/Controllers/categoryListController.js"></script>
    <script src="~/AngularApp/Controllers/addCategoryController.js"></script>
    <script src="~/AngularApp/Controllers/itemListClientController.js"></script>
    <script src="~/AngularApp/Controllers/callForm.js"></script>
    <script src="~/AngularApp/Controllers/orderListClientController.js"></script>
    <script src="~/AngularApp/Controllers/alertsPageController.js"></script>
</body>
</html>
