<div class="index" ng-controller="indexController">
    <div class="restaurantMenu">

        <h2>TabletWaiter Restaurant</h2>
        <ul class="rainbowList">
            <li><a class="btn" href="#addItem"><span>Add item</span></a></li>
            <li><a class="btn" href="#itemList"><span>Items list</span></a></li>
            <li><a class="btn" href="#categoryList"><span>Categories</span></a></li>
            <li><a class="btn" href=""><span>Orders list</span></a></li>
            <li><a class="btn" href=""><span>Alerts list</span></a></li>
        </ul>
    </div>

    <div class="clientMenu">
        <h2>TabletWaiter Clients</h2>
        <ul class="rainbowList">
            <li><a class="btn" href="#itemListClient"><span>Items list</span></a></li>
            <li><a class="btn" href="#call"><span>Call waiter</span></a></li>
        </ul>
    </div>
</div>