<div class="index" ng-controller="indexController">
    <h2>TabletWaiter</h2>
    <p>Esto ya está montado</p>
    <ul>
        <li><a class="btn" href="#addItem"><span>Añadir item</span></a></li>
        <li><a class="btn" href=""><span>Ver listas de items</span></a></li>
        <li><a class="btn" href=""><span>Ver pedidos</span></a></li>
        <li><a class="btn" href=""><span>Ver avisos</span></a></li>
        <li><a class="btn" href=""><span>Añadir item</span></a></li>
        <li><a class="btn" href=""><span>Añadir item</span></a></li>
    </ul>
</div>