<div ng-controller="itemListController">
    <h2>Lista de items</h2>

    <div class="loading" ng-show="loading">
        <img src="../../Content/images/loading.gif" />
    </div>

    <div class="item" ng-hide="loading">
        <span ng-repeat="category in categories" class="categoryFilter" ng-click="filterCategory(category.Id)">{{ category.Name }}</span>
        <span class="categoryFilter" ng-click="filterCategory(-1)">Todos</span>
    </div>

    <div class="noItems" ng-show="itemsCount == 0 && !loading">
        No hay ningún elemento
    </div>

    <div class="items" ng-hide="loading">
        <div class="item" ng-repeat="item in items">
            <div class="icons">
                <img ng-show="!item.Hidden" ng-model="item.Hidden" ng-click="showItem(item.Id, $index)" src="../../Content/icons/show.png" />
                <img ng-show="item.Hidden" ng-model="item.Hidden" ng-click="showItem(item.Id, $index)" src="../../Content/icons/hide.png" />
                <img ng-click="editItem(item.Id)" src="../../Content/icons/edit.png" />
                <img ng-click="deleteItem(item.Id)" src="../../Content/icons/delete.png" />
            </div>
            <img ng-src="{{item.Image}}"/>
            <span class="name">{{item.Name}}</span>
            <p>{{item.Description}}</p>
        </div>
    </div>
</div>