<div ng-controller="itemListController">
    <h2>Lista de items</h2>
    <div class="loading" ng-show="loading">
        <img src="../../Content/images/loading.gif" />
    </div>

    <div class="items" ng-hide="loading">
        <div class="item" ng-repeat="item in items">
            <div class="icons">
                <img src="../../Content/icons/edit.png" />
                <img src="../../Content/icons/delete.png" />
            </div>
            <span class="name">{{item.Name}}</span>
            <p>{{item.Description}}</p>

        </div>
    </div>
</div>