<div ng-controller="itemListClientController">
    <h2>Lista de items de Clients: </h2>
    <div class="loading" ng-show="loading">
        <img src="../../Content/images/loading.gif" />
    </div>

    <div class="item" ng-hide="loading">
        <span ng-repeat="category in categories" class="categoryFilter" ng-click="filterCategory(category.Id)">{{ category.Name }}</span>
        <span class="categoryFilter" ng-click="filterCategory(-1)">Todos</span>
    </div>

    <div class="noItems" ng-show="itemsCount == 0 && !loading">
        No hay ningún elemento
    </div>

    <div class="items" ng-hide="loading">
        <div class="item" ng-repeat="item in items">
            <div class="icons">
                <img ng-click="addItem(item.Id, item.Name, item.Price)" src="../../Content/icons/orderFood.png" />
            </div>
            <img ng-src="{{item.Image}}" />
            <span class="name">{{item.Name}} ----</span>
            <span class="name">{{item.Price}} €</span>
            <p>{{item.Description}}</p>
        </div>
    </div>

    <div class="cart" ng-hide="loading || numberOfItems == 0">
        <div class="numberOfItems">{{numberOfItems}} items</div>
        <div class="cartPreview">
            <div ng-repeat="cartItem in cart track by $index" class="cartItem">
                <img ng-click="deleteItem(cartItem.price, $index)" src="../../Content/images/eliminar.png" /> <span class="itemName">{{cartItem.name}}</span> <span class="itemQuantity">x 1</spanclass>
            </div>
        </div>
        <hr />
        <div class="orderInfo">
            <span>Total</span><span>{{totalPrice}} €</span>
        </div>
        <a class="btn btn-lg btn-block btn-success" href="#orderListClient">Order!</a>
    </div>
</div>