<div ng-controller="orderListController">
    <h2>Order Screen</h2>

    <div class="loading" ng-show="loading">
        <img src="../../Content/images/loading.gif" />
    </div>

    <div class="orders" ng-repeat="order in orders">
        <span>{{order.TableNumber}}</span>
        <table>
            <tr ng-repeat="itemOrdered in order.ItemsOrdered" class="itemOrdered">
                <td>{{itemOrdered.itemId}}</td>
                <td>{{itemOrdered.name}}</td>
                <td>{{itemOrdered.price}} €</td>
                <td><button class="btn btn-info btn-block">Start!</button></td>
                <td><button class="btn btn-danger btn-block">Delete!</button></td>
            </tr>
        </table>

    </div>
</div>