<div ng-controller="setupScreenController">
    <button class="startButton" ng-click="hideStart()" ng-show="showStart">START!</button>
    <div ng-hide="showStart">
        Table Number: {{tableNumber}}
        <hr />
        <table class="keypad">
            <tr>
                <td><img ng-click="addNumber(1)" src="../../Content/images/keypad/1.png" /></td>
                <td><img ng-click="addNumber(2)" src="../../Content/images/keypad/2.png" /></td>
                <td><img ng-click="addNumber(3)" src="../../Content/images/keypad/3.png" /></td>
            </tr>
            <tr>
                <td><img ng-click="addNumber(4)" src="../../Content/images/keypad/4.png" /></td>
                <td><img ng-click="addNumber(5)" src="../../Content/images/keypad/5.png" /></td>
                <td><img ng-click="addNumber(6)" src="../../Content/images/keypad/6.png" /></td>
            </tr>
            <tr>
                <td><img ng-click="addNumber(7)" src="../../Content/images/keypad/7.png" /></td>
                <td><img ng-click="addNumber(8)" src="../../Content/images/keypad/8.png" /></td>
                <td><img ng-click="addNumber(9)" src="../../Content/images/keypad/9.png" /></td>
            </tr>
            <tr>
                <td><img ng-click="deleteNumber()" src="../../Content/images/keypad/cancel.png" /></td>
                <td><img ng-click="addNumber(0)" src="../../Content/images/keypad/0.png" /></td>
                <td><img ng-click="storageTableNumber()" src="../../Content/images/keypad/ok.png" /></td>
            </tr>
        </table>
    </div>
</div>