<div ng-controller="setupScreenController">
    <button class="startButton" ng-click="hideStart()" ng-show="showStart">START!</button>
    <div ng-hide="showStart">
        Table Number: {{tableNumber}}
        <hr />
        <button class="btn" ng-click="addNumber(0)">0</button>
        <button class="btn" ng-click="addNumber(1)">1</button>
        <button class="btn" ng-click="addNumber(2)">2</button>
        <button class="btn" ng-click="addNumber(3)">3</button>
        <button class="btn" ng-click="addNumber(4)">4</button>
        <button class="btn" ng-click="addNumber(5)">5</button>
        <button class="btn" ng-click="addNumber(6)">6</button>
        <button class="btn" ng-click="addNumber(7)">7</button>
        <button class="btn" ng-click="addNumber(8)">8</button>
        <button class="btn" ng-click="addNumber(9)">9</button>
        <button class="btn" ng-click="deleteNumber()">C</button>
        <button class="btn" ng-click="clearNumber()">Delete</button>
        <button class="btn" ng-click="storageTableNumber()" ng-hide="showStart">Button!</button>
    </div>
</div>