body {
    color: white;
    font-family: Raleway, Arial, sans-serif;
}

h2, h3, h4 {
    color: white;
}

.importantText {
    font-size: 18px;
    font-weight: bold;
} 

.name {
    .importantText;
    color: #84C21C;
    margin-bottom: 3px;
}

#main {
    text-align: center;
    width: 960px;
    margin: 50px auto;
}

.buttonBig {
    height: 60px;
    width: 300px;
}

.rainbowList {
    a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding: 20px;
        margin: 10px auto;

        span {
            padding: 20px;
        }

        &:hover {
            color: white;
        }

        &:visited {
            color: white;
        }
    }

    li {
        margin: auto;
        width: 300px;
    }

    li:nth-child(1) a {
        background-color: #433b8f;
    }

    li:nth-child(2) a {
        background-color: #0184cd;
    }

    li:nth-child(3) a {
        background-color: #7cbc19;
    }

    li:nth-child(4) a {
        background-color: #ffbc00;
    }

    li:nth-child(5) a {
        background-color: #f07502;
    }

    li:nth-child(6) a {
        background-color: #d00110;
    }
}

/*Header*/
header {
    margin-top: 30px;
}

.logo {
    width: 450px;
}

/*Index*/
.index {
    .restaurantMenu {
        float: left;
    }

    .clientMenu {
        float: right;
    }
}

/*Form*/
.inset {
    position: relative;
    background: #fff;
    padding: 2em 2em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    width: 600px;
    margin: auto;

    div {
        margin: 20px 0;
    }
}

form span {
    display: block;
    font-size: 1em;
    color: #787878;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

input[type="text"]:hover, textarea:hover {
    background: #fff;
    outline: none;
}

input[type="text"], textarea {
    border: 2px solid #609EC3;
    background: #fff;
    outline: none;
    padding: 9px;
    width: 100%;
    font-size: 1.1em;
    margin: 18px 0px;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 5px;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/*itemList*/
.loading {
    margin-top: 80px;
}

.item {
    border: 2px solid black;
    background: white;
    color: black;
    text-align: left;
    padding: 20px;
    margin: 20px;
    overflow: hidden;

    img {
        float: left;
        margin-right: 30px;
        width: 300px;
    }

    .name;

    p {
        margin-top: 10px;
    }

    .icons {
        float: right;
        /*margin-top: 15px;*/
        cursor: pointer;

        img {
            width: 30px;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.noItems {
    background: white;
    color: black;
    padding: 30px;
}

.cart {
    min-width: 300px;
    position: fixed;
    top: 60px;
    right: 60px;
    padding: 20px 40px;

    .numberOfItems {
        margin-bottom: 15px;
        text-align: right;
        margin-right: -15PX;
    }

    .cartPreview {
        margin-bottom: 10px;

        .cartItem {
            margin: 5px 0;
            text-align: left;

            img {
                width: 30px;
                margin-right: 15px;
                vertical-align: middle;
            }

            .itemName {
                vertical-align: middle;
            }

            .itemQuantity {
                margin-left: 20px;
                vertical-align: middle;
                float: right;
                margin-top: 6px;
            }
        }
    }

    .orderInfo {
        margin-top: 20px;
        text-align: right;
        margin-bottom: 20px;

        span {
            &:first-child {
                float: left;
            }
        }
    }
}



.categoryFilter {
    margin: 5px;
    padding: 10px;
    color: white;
    background-color: lightseagreen;
    cursor: pointer;
}

/*Categories*/
.addCategory {
    background: white;
    border: 2px solid black;
    color: black;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;

    img {
        vertical-align: middle;
        margin-right: 30px;
        width: 40px;
    }

    span {
        vertical-align: middle;
    }
}

.addCategoryForm {
    input {
        width: 350px;
    }
}

.categories {
    color: black;

    label {
        margin: 5px;
    }

    div {
        margin-left: 50px;
        text-align: left;
    }
}

/*Start Screen*/
.startButton {
    background-color: purple;
    border: 2px solid #bbb;
    color: white;
    font-size: 30px;
    padding: 50px 45px;
    position: absolute;
    top: 50%;
    left: 45%;
}

.keypad {
    margin: auto;

    td {
        img {
            width: 85px;
            height: 85px;
            padding: 4px;
        }
    }
}

/*Orders*/
.orders {
    border: 2px solid black;
    background: white;
    color: black;
    text-align: left;
    padding: 20px;
    margin: 20px;
    overflow: hidden;

    span {
        float: right;
        margin-bottom: 15px;
        background-color: white;
        color: black;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid black;
    }

    table {
        width: 100%;
        margin-top: 20px;
    }

    .itemOrdered {
        vertical-align: middle;
        border-bottom: 1px solid gray;

        td {
            padding: 5px;
        }

        td:nth-child(1) {
            .importantText;
            color: darkorange;
            padding-left: 10px;
        }

        td:nth-child(2) {
            .name;
            text-align: center;
        }

        td:nth-child(3) {
            .importantText;
            color: #0094ff;
            text-align: right;
            padding-right: 40px;
        }
    }
}

/*Alerts*/
.alert {
    background: purple;
    text-align: left;
    padding-left: 60px;
    width: 275px;
    margin: 20px auto;

    img {
        width: 40px;
        vertical-align: middle;
        margin-right: 20px;
    }

    span {
        vertical-align: middle;
    }
}

/*Order Summary of Client*/
.orderSummary {
    width: 50%;
    padding: 20px;
    border: 2px solid black;
    background: white;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    overflow: hidden;

    .numberOfItems {
        float: left;
        margin-top: -5px;
        .importantText;
        color: darkorange;
    }

    .orderItems {
        margin: 20px auto;
        width: 80%;
        margin-top: 35px;

        .orderItem {
            .importantText;
            color: green;
            text-align: left;
            vertical-align: middle;

            td {
                padding: 3px;

                img {
                    width: 40px;
                }
            }
        }
    }

    hr {
        height: 1px;
        background-color: #888;
        width: 80%;
    }

    .orderInfo {
        .importantText;
        color: purple;
        text-align: right;
        width: 80%;
        margin: auto;
    }

    button {
        margin: auto;
        width: 80%;
    }
}

/*Table Number*/
.showTableNumber {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 20px 22px;
    background-color:#ffffff;
    color:black;
    border-radius: 5px;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/

    img {
        margin-top: 20%;
    }
}
