body {
  color: white;
  font-family: Raleway, Arial, sans-serif;
}
h2,
h3,
h4 {
  color: white;
}
#main {
  text-align: center;
  width: 960px;
  margin: 50px auto;
}
.buttonBig {
  height: 60px;
  width: 300px;
}
.rainbowList a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
  margin: 10px auto;
}
.rainbowList a span {
  padding: 20px;
}
.rainbowList a:hover {
  color: white;
}
.rainbowList a:visited {
  color: white;
}
.rainbowList li {
  margin: auto;
  width: 300px;
}
.rainbowList li:nth-child(1) a {
  background-color: #433b8f;
}
.rainbowList li:nth-child(2) a {
  background-color: #0184cd;
}
.rainbowList li:nth-child(3) a {
  background-color: #7cbc19;
}
.rainbowList li:nth-child(4) a {
  background-color: #ffbc00;
}
.rainbowList li:nth-child(5) a {
  background-color: #f07502;
}
.rainbowList li:nth-child(6) a {
  background-color: #d00110;
}
/*Header*/
header {
  margin-top: 30px;
}
.logo {
  width: 450px;
}
/*Index*/
.index .restaurantMenu {
  float: left;
}
.index .clientMenu {
  float: right;
}
/*Form*/
.inset {
  position: relative;
  background: #fff;
  padding: 2em 2em;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  width: 600px;
  margin: auto;
}
.inset div {
  margin: 20px 0;
}
form span {
  display: block;
  font-size: 1em;
  color: #787878;
  padding-bottom: 5px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}
input[type="text"]:hover,
textarea:hover {
  background: #fff;
  outline: none;
}
input[type="text"],
textarea {
  border: 2px solid #609EC3;
  background: #fff;
  padding: 9px;
  width: 100%;
  font-size: 1.1em;
  margin: 18px 0px;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-left: 5px;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/*itemList*/
.loading {
  margin-top: 80px;
}
.item {
  border: 2px solid black;
  background: white;
  color: black;
  text-align: left;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
}
.item img {
  float: left;
  margin-right: 30px;
  width: 300px;
}
.item .name {
  font-size: 18px;
  font-weight: bold;
  color: #84C21C;
  margin-bottom: 3px;
}
.item p {
  margin-top: 10px;
}
.item .icons {
  float: right;
  /*margin-top: 15px;*/
  cursor: pointer;
}
.item .icons img {
  width: 30px;
}
.item .icons img:hover {
  opacity: 0.6;
}
.noItems {
  background: white;
  color: black;
  padding: 30px;
}
.cart {
  min-width: 300px;
  position: fixed;
  top: 60px;
  right: 60px;
  background-color: lightcoral;
  padding: 20px 40px;
  border: 1px solid black;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.cart .numberOfItems {
  margin-bottom: 15px;
  text-align: right;
  margin-right: -15 PX;
}
.cart .cartPreview {
  margin-bottom: 10px;
}
.cart .cartPreview .cartItem {
  margin: 5px 0;
  text-align: left;
}
.cart .cartPreview .cartItem img {
  width: 30px;
  margin-right: 15px;
  vertical-align: middle;
}
.cart .cartPreview .cartItem .itemName {
  vertical-align: middle;
}
.cart .cartPreview .cartItem .itemQuantity {
  margin-left: 20px;
  vertical-align: middle;
}
.cart .orderInfo {
  margin-top: 20px;
  text-align: right;
  margin-bottom: 20px;
}
.cart .orderInfo span:first-child {
  float: left;
}
.categoryFilter {
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: lightseagreen;
  cursor: pointer;
}
/*Categories*/
.addCategory {
  background: white;
  border: 2px solid black;
  color: black;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 20px;
}
.addCategory img {
  vertical-align: middle;
  margin-right: 30px;
  width: 40px;
}
.addCategory span {
  vertical-align: middle;
}
.addCategoryForm input {
  width: 350px;
}
.categories {
  color: black;
}
.categories label {
  margin: 5px;
}
.categories div {
  margin-left: 50px;
  text-align: left;
}
/*Start Screen*/
.startButton {
  background-color: purple;
  border: 2px solid #bbb;
  color: white;
  font-size: 30px;
  padding: 50px 45px;
  position: absolute;
  top: 50%;
  left: 45%;
}
/*Orders*/
.order {
  background-color: rebeccapurple;
  padding: 20px;
  margin: 20px;
}
/*Alerts*/
.alert {
  background: purple;
  text-align: left;
  padding-left: 60px;
}
.alert img {
  width: 40px;
  vertical-align: middle;
  margin-right: 20px;
}
.alert span {
  vertical-align: middle;
}
/*Order Summary of Client*/
.orderSummary {
  background-color: #F08080;
  width: 50%;
  padding: 20px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 20px;
}
/*# sourceMappingURL=tableWaiterStyles.css.map */